---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import Blog from "@components/Blog.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const title = "Blog - exylons (Lance Ross)";
const description =
  "This is where I share my thoughts, ideas, and interesting things to tell. Most of these are web developement stuff, don't worry.";
---

<Layout title={title} description={description}>
  <Header title="Blog" />
  <p class="max-w-prose mb-10 font-normal leading-relaxed">
    {description}
  </p>
  <ul class="grid grid-cols-1 gap-6">
    {posts.map((p) => <Blog {...p} />)}
  </ul>
</Layout>
