---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import Benefit from "@components/Benefit.astro";
import Blog from "@components/Blog.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section class="text-center">
    <div class="grid place-items-center">
      <Header title="AstroZinc" />
      <p class="mt-3 max-w-prose leading-relaxed">
        A minimalist blogging astro template inspired with all the zinc colors
        from Tailwind CSS. It also comes with many features that a blog website
        needs.
      </p>
    </div>
  </section>
  <section class="text-center mt-20">
    <div>
      <Header title="Why use this template instead?" />
      <ul class="grid grid-cols-1 gap-4 place-items-center">
        <Benefit
          iconName="mdx"
          title="Fully featured MDX"
          description="Comes with many different MDX remark plugins to make your blog posts look great and more functional."
        />
        <Benefit
          iconName="lighthouse"
          title="100 Lighthouse Score"
          description="With Astro, you get a 100 Lighthouse score out of the box. No need to worry about performance!"
        />
        <Benefit
          iconName="biceps"
          title="Flexible to use"
          description="Just create an MDX file, add the metadata, and you're good to go writing your blog post!"
        />
        <Benefit
          iconName="opensource"
          title="Free and Open Source"
          description="This template is free and open source. Feel free to contribute to the project on GitHub!"
        />
      </ul>
    </div>
  </section>
  <section>
    <h2 class="mt-12 text-2xl font-semibold dark:text-zinc-100 text-zinc-900">
      Recent Posts
    </h2>
    <ul class="mt-6 grid grid-cols-1">
      {posts.slice(0, 3).map((post) => <Blog {...post} />)}
    </ul>
    <a
      class="inline-block mt-7 dark:hover:text-zinc-50 hover:text-zinc-400 transition-colors"
      href="/blog/">View all posts &rarr;</a
    >
  </section>
</Layout>
