---
import { Icon } from "astro-icon/components";
interface Props {
  iconName: string;
  title: string;
  description: string;
}

const { iconName, title, description } = Astro.props;
---

<li class="flex flex-col sm:flex-row dark:bg-zinc-900 p-6 rounded-xl shadow-md">
  <figure class="grid place-items-center"><Icon name={iconName} class="w-16 h-16" /></figure>
  <div class="sm:ml-6 gap-1 grid">
    <h2 class="font-bold text-xl max-sm:mt-4 dark:text-zinc-50 text-zinc-900">
      {title}
    </h2>
    <p class="text-base">{description}</p>
  </div>
</li>
