---
const { link } = Astro.props;

---

<div class="aspect-w-16 aspect-h-9">
  <iframe
    class="rounded-lg shadow-md"
    src={link.replace("https://www.youtube.com/watch?v=", "https://www.youtube-nocookie.com/embed/")}
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    loading="lazy"
    allowfullscreen></iframe>
</div>
